
        
            <div class="footer"><small>Copyright &#xA9; <span id="year"></span> Divyansh</small> </div>
          
    
        <script>
            var d = new Date();
            var year = d.getFullYear();
            document.getElementById('year').innerHTML = year;
        </script>
    </body>
   
</html>